// Mixins Here

.custom-flex(@direction, @justify, @align) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.btn-colors(@bg-color, @font-color) {
    background-color: @bg-color;
    color: @font-color;
}